---
import Layout from "../layouts/Layout.astro";
import medias from "../data.json";
import Header from "../components/header.astro";
---

<Layout uid="home" template="home">
	<div data-gallery-container class="container">
		<Header />
		<div class="grid-container">
			<div class="grid">
				<a class="grid__item" href="/1" style="--r: 1; --c: 1; --s: 4">
					<img loading="eager" src={medias[0].url} alt="" />
				</a>
				<a class="grid__item" href="/2" style="--r: 1; --c: 6; --s: 4">
					<img loading="eager" src={medias[1].url} alt="" />
				</a>
				<a class="grid__item" href="/4" style="--r: 2; --c: 2; --s: 3">
					<img loading="eager" src={medias[3].url} alt="" />
				</a>
				<a class="grid__item" href="/5" style="--r: 2; --c: 6; --s: 4">
					<img loading="eager" src={medias[4].url} alt="" />
				</a>
				<a class="grid__item" href="/6" style="--r: 3; --c: 1; --s: 5">
					<img loading="eager" src={medias[5].url} alt="" />
				</a>
				<a class="grid__item" href="/7" style="--r: 3; --c: 7; --s: 3">
					<img loading="eager" src={medias[6].url} alt="" />
				</a>
				<a class="grid__item" href="/8" style="--r: 4; --c: 3; --s: 4">
					<img loading="eager" src={medias[7].url} alt="" />
				</a>
				<a class="grid__item" href="/9" style="--r: 5; --c: 1; --s: 3">
					<img loading="eager" src={medias[8].url} alt="" />
				</a>
				<a class="grid__item" href="/10" style="--r: 5; --c: 5; --s: 5">
					<img loading="eager" src={medias[9].url} alt="" />
				</a>
				<a class="grid__item" href="/11" style="--r: 6; --c: 2; --s: 4">
					<img loading="eager" src={medias[10].url} alt="" />
				</a>
				<a class="grid__item" href="/12" style="--r: 6; --c: 7; --s: 3">
					<img loading="eager" src={medias[11].url} alt="" />
				</a>
				<a class="grid__item" href="/3" style="--r: 7; --c: 3; --s: 5">
					<img loading="eager" src={medias[2].url} alt="" />
				</a>
			</div>
		</div>
	</div>
</Layout>
